<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFW46H_35aF4vJNXiTYM-q1WBcPNixlY8</string>
	<key>GCM_SENDER_ID</key>
	<string>43036789746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AlinmaPay</string>
	<key>PROJECT_ID</key>
	<string>alinmapay-ab21e</string>
	<key>STORAGE_BUCKET</key>
	<string>alinmapay-ab21e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43036789746:ios:0417694b348fbb8259396b</string>
</dict>
</plist>